.contact-block_wrapper{
    position: relative;
    margin-top: 270px;
    margin-bottom: 200px;
}
.contact-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 326px;
    width: 732px;
    left: 354px;
}

.contact-block_title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    letter-spacing: 0.2em;
    color: #BA302C;
}

.contact-second_title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #151515;
}
.contact-main_text{
    width: 732px;
    height: 70px;
    padding-top: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 145.19%;
    text-align: center;
    color: #5E5E5E;
}
.contact-block_buttons{
    padding-top: 90px;
}
.contact-block_button{
    width: 158px;
    height: 40px;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
}
.white{
    margin-right: 10px;
    color: #D73A46;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #D73A46;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.red{
    margin-left: 10px;
    background: linear-gradient(270deg, rgba(215, 58, 70, 0.9) 0%, #D73A46 100%);
    color: white;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.contact-block_circle{
    position: absolute;
    top: 80px;
    left: 750px;
    width: 330px;
    height: 725px;
    background: url('./../../../assets/icons/SVGS/contactCircle.svg') no-repeat;
  
}