.training-block {
    position: relative;
    height: 660px;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.circles {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: chocolate;
}

.background-poligon {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: red;
    left: 10px;
}

.training-block_title {
    width: 311px;
    height: 59px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    /* identical to box height */

    letter-spacing: 0.2em;

    color: #BA302C;
}

.training-second_title {
    width: 175px;
    height: 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px; //18
    line-height: 21px;

    color: #151515;
}

.training-block_slider{
    width: 627px;
    height: 192px;
    margin-top: 70px;
    background-color: cornflowerblue;
}
.mySwiperTraining{
    
}

.mySwiperTraining .swiper-pagination-bullet{
    background-color: white;
}
.swiper-pagination .swiper-pagination-clickable .swiper-pagination-bullets .swiper-pagination-bullets-dynamic{
    margin:0px
}




