// main color for headers and another
@main-header-color: #ba302c;
// Second color
@second-color: #151511;
// Third color
@third-color-gray: #5e5e5e;
//color for buttons text
@button-text-color: #d73a46;
//regular white color
@regular-white-color: #fff;
//regular black color
@regular-black-color: #000;

//Red button gradient
@red-button-gradient: linear-gradient(
  270deg,
  rgba(215, 58, 70, 0.9) 0%,
  #d73a46 100%
);
