.header-block_content{
    position: relative;
    color: white;
 
    background: url('./../../../../assets/imgs/planeBG.png');
    background-position: center;
    width: 1440px;
    height: 665px;
}
.header-gradient_block{
    position: absolute;
    width: 1440px;
    height: 540px;
    background-color: red;
    top: 126px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    transform: rotate(-180deg);
}
